In [51]:
import pandas as pd
import numpy as np
from importlib import reload
import megadescribe as md
reload(md)

In [52]:
option_a = '/home/nmatthews/7242forSettingReview.csv'
option_b = '/home/nmatthews/CADETpy3/Medicaid-GA/medicaid_ga_2016-11-22.csv'
mydf = pd.read_csv(option_b)

In [53]:
md.megadescribe(mydf)

TypeError:

In [65]:
testdf = pd.DataFrame()
# from random import uniform
testdf['date_a'] = pd.Series([dt.today() - td(x) for x in np.random.uniform(0,1000,5)])
display(testdf)
# from datetime import datetime as dt, timedelta as td
# print(dt.today())
# print(dt.today() - td(1.5))

                      date_a
0 2015-10-30 01:34:51.017578
1 2016-04-03 04:54:24.936560
2 2015-12-24 15:03:01.817475
3 2017-05-22 12:20:03.849087
4 2015-09-05 07:45:57.272208

In [99]:
import megadescribe as md
import numpy as np
import random
import string
import pandas as pd
from datetime import datetime as dt, timedelta as td
import pytest

def test_typeerror_at_initiation():
    with pytest.raises(TypeError):
        md.ColumnClassifier(0)

def test_column_classifications():
    df = pd.DataFrame()
    def one_to_randint():
        for x in range(random.randint(1,3)):
            yield x+1
    date_columns = ['date_'+str(x) for x in one_to_randint()]
    for col in date_columns:
        df[col] = pd.Series([dt.today() - td(x) for x in np.random.uniform(0,1000,10)])
    
    numeric_columns = ['numeric_'+str(x) for x in one_to_randint()]
    for col in numeric_columns:
        df[col] = pd.Series([x for x in np.random.uniform(0,1000,10)])
    
    categorical_columns = ['categorical_'+str(x) for x in one_to_randint()]
    for col in categorical_columns:
        df[col] = pd.Series(random.choices(string.ascii_lowercase,k=10))

    display(df)

In [100]:
test_column_classifications()

,date_1,date_2,numeric_1,categorical_1,categorical_2,categorical_3
0,2016-07-11 04:19:03.393288,2016-05-18 04:31:16.024003,44.444711,u,n,l
1,2016-06-08 16:44:57.528329,2016-01-08 21:18:07.198619,522.066055,v,k,t
2,2016-01-24 20:58:11.536254,2017-07-24 19:14:55.506106,54.034440,b,r,c
3,2015-11-28 04:35:57.432944,2015-12-28 12:06:31.028960,606.948793,n,g,q
4,2016-07-06 11:28:50.462673,2017-02-08 00:45:04.235667,764.775977,z,d,h
5,2016-10-13 18:19:03.439304,2016-05-26 07:54:28.395889,49.681191,p,n,p
6,2017-06-27 13:18:59.280510,2017-04-21 02:48:16.919971,571.514998,x,m,l
7,2016-01-22 09:34:22.447460,2016-02-25 19:16:03.880220,360.178918,x,k,z
8,2017-12-17 19:04:06.624542,2016-08-14 10:41:01.134372,555.235221,j,k,o
9,2017-02-05 14:59:36.526897,2016-12-14 19:39:41.735051,177.157855,y,n,j