In [28]:
import pandas as pd
import numpy as np
from importlib import reload
import megadescribe as md
reload(md)

In [29]:
option_a = '/home/nmatthews/7242forSettingReview.csv'
option_b = '/home/nmatthews/CADETpy3/Medicaid-GA/medicaid_ga_2016-11-22.csv'
mydf = pd.read_csv(option_b)

In [30]:
md.megadescribe(mydf)

+-----------------------+
+ Categorical Variables +
+-----------------------+

  TARGETED_DENIAL_YN
1          52.6622 %
0          47.3378 %

Top 5 represent 100.0% of rows.
No rows are null

  OTHERCPT_90569_YN
0         99.9569 %
1          0.0431 %

Top 5 represent 100.0% of rows.
No rows are null

  OTHERCPT_90748_YN
0         99.8275 %
1          0.1725 %

Top 5 represent 100.0% of rows.
No rows are null

  OTHERCPT_90634_YN
0         99.4826 %
1          0.5174 %

Top 5 represent 100.0% of rows.
No rows are null

  OTHERCPT_5250F_YN
0         99.8491 %
1          0.1509 %

Top 5 represent 100.0% of rows.
No rows are null

  OTHERCPT_G0008_YN
0         99.9784 %
1          0.0216 %

Top 5 represent 100.0% of rows.
No rows are null

  OTHERCPT_G8553_YN
0         99.7629 %
1          0.2371 %

Top 5 represent 100.0% of rows.
No rows are null

  OTHERCPT_PREF_9056_YN
0             99.9569 %
1              0.0431 %

Top 5 represent 100.0% of rows.
No rows are null

  OTHERCPT_PREF_9074_YN
0             99.6767 %
1              0.3233 %

Top 5 represent 100.0% of rows.
No rows are null

  OTHERCPT_PREF_9938_YN
0             97.5641 %
1              2.4359 %

Top 5 represent 100.0% of rows.
No rows are null

  OTHERCPT_PREF_5250_YN
0             99.8491 %
1              0.1509 %

Top 5 represent 100.0% of rows.
No rows are null

  OTHERCPT_PREF_G000_YN
0             99.9784 %
1              0.0216 %

Top 5 represent 100.0% of rows.
No rows are null

  OTHERCPT_PREF_9939_YN
1             56.6070 %
0             43.3930 %

Top 5 represent 100.0% of rows.
No rows are null

   INSTITUTIONAL_YN
 0        99.8060 %
 2         0.1078 %
-1         0.0862 %

Top 5 represent 100.0% of rows.
No rows are null

     PAPER_YN
 0  99.6767 %
 2   0.2371 %
-1   0.0862 %

Top 5 represent 100.0% of rows.
No rows are null

   MOD_52_YN
0  99.9353 %
1   0.0647 %

Top 5 represent 100.0% of rows.
No rows are null

   MOD_59_YN
0  99.6767 %
1   0.3233 %

Top 5 represent 100.0% of rows.
No rows are null

   MOD_HA_YN
0  98.6635 %
1   1.3365 %

Top 5 represent 100.0% of rows.
No rows are null

   MOD_90_YN
0  99.7413 %
1   0.2587 %

Top 5 represent 100.0% of rows.
No rows are null

   MOD_UB_YN
0  99.9353 %
1   0.0647 %

Top 5 represent 100.0% of rows.
No rows are null

   MOD_57_YN
0  99.9784 %
1   0.0216 %

Top 5 represent 100.0% of rows.
No rows are null

    CHILD_YN
1  95.1498 %
0   4.8502 %

Top 5 represent 100.0% of rows.
No rows are null

   SENIOR_YN
0  99.9138 %
1   0.0862 %

Top 5 represent 100.0% of rows.
No rows are null

  UNPRINTED_YN
0    99.2240 %
1     0.7760 %

Top 5 represent 100.0% of rows.
No rows are null

  PROV_MSNG_YN
0   100.0000 %

Top 5 represent 100.0% of rows.
No rows are null

  SUPPROV_MSNG_YN
0      100.0000 %

Top 5 represent 100.0% of rows.
No rows are null

  REFPROV_MSNG_YN
1       75.8353 %
0       24.1647 %

Top 5 represent 100.0% of rows.
No rows are null

                                     CONTEXT_NAME
GA - Harbin Clinic, LLC                 20.5648 %
GA - Decatur Pediatric Group            20.3923 %
GA - Toccoa Clinic                      11.5542 %
GA - Southern Pediatric Clinic, LLC      7.8250 %
GA - International Pediatrics Clinic     6.6394 %

Top 5 represent 67.0% of rows.
No rows are null

               CLAIMID
7008v7438     0.7760 %
38687v6806    0.7329 %
1123588v8478  0.6467 %
15504v10369   0.5174 %
41680v6806    0.4742 %

Top 5 represent 3.1% of rows.
No rows are null

      PRINTPROCEDURECODE
99173          28.2820 %
99393          12.0500 %
99392           9.9375 %
92551           6.7687 %
99394           6.2729 %

Top 5 represent 63.3% of rows.
No rows are null

        MODIFIERS
,EP     72.7959 %
,EP,25  17.5038 %
,25,EP   2.3065 %
,EP,HA   0.6682 %
,25      0.5820 %

Top 5 represent 93.9% of rows.
4.5% of rows are null

         BATCHFORMAT
ANSI837    99.5689 %
CMS1500     0.2371 %
ANSI837I    0.1078 %

Top 5 represent 99.9% of rows.
0.1% of rows are null

                      PROV_SPECIALTY
Pediatric Medicine         89.8685 %
Family Medicine             2.9532 %
OB/GYN                      2.7592 %
Multispecialty Clinic       2.2850 %
Sports Medicine             0.3880 %

Top 5 represent 98.3% of rows.
No rows are null

                      SUPPROV_SPECIALTY
Pediatric Medicine            89.8685 %
Family Medicine                3.2766 %
OB/GYN                         2.7808 %
Multispecialty Clinic          1.9616 %
Internal Medicine              0.7114 %

Top 5 represent 98.6% of rows.
No rows are null

                             REFPROV_SPECIALTY
Pediatric Medicine                   12.6320 %
Family Medicine                       1.4658 %
OB/GYN                                0.4527 %
Hematology/Oncology                   0.1509 %
Pediatric Allergy/Immunology          0.1293 %

Top 5 represent 14.8% of rows.
84.7% of rows are null


+----------------------+
+ Continuous Variables +
+----------------------+

+---------------------------------------------------------+
+ Rows with high percentile values and/or rare categories +
+---------------------------------------------------------+

,CONTEXT_ID,CONTEXT_NAME,TARGETED_DENIAL_YN,CLAIMID,BILLDATE,SERVICEDATE,PRINTPROCEDURECODE,OTHERCPT_90569_YN,OTHERCPT_90748_YN,OTHERCPT_90634_YN,...,UNPRINTED_YN,PROV_MSNG_YN,SUPPROV_MSNG_YN,REFPROV_MSNG_YN,PROV_SPECIALTY,SUPPROV_SPECIALTY,REFPROV_SPECIALTY,PROVIDER_IS_MD,SUPPROVIDER_IS_MD,REFPROVIDER_IS_MD
1098,1498,"GA - Harbin Clinic, LLC",1,10809818v1498,9/15/2016,8/19/2016,35860,0,0,0,...,0,0,0,0,Vascular Surgery,Vascular Surgery,Vascular Surgery,2,2,-1
1469,1498,"GA - Harbin Clinic, LLC",1,4319618v1498,1/25/2012,1/24/2012,62311,0,0,0,...,0,0,0,0,Phys. Med. & Rehab.,Phys. Med. & Rehab.,Phys. Med. & Rehab.,2,2,-1
3494,8478,GA - Phoebe Putney Health Systems,0,1697005v8478,10/7/2016,10/1/2016,35860,0,0,0,...,0,0,0,0,Cardiology,Cardiology,NaN,2,2,2
3127,7117,GA - South Georgia Medical Center,1,139489v7117,7/14/2016,7/11/2016,36415,0,0,0,...,0,0,0,0,Endocrinology,Endocrinology,Family Medicine,2,2,-1
970,1498,"GA - Harbin Clinic, LLC",0,10643367v1498,8/10/2016,8/9/2016,92004,0,0,0,...,0,0,0,0,Optometry,Optometry,Optometry,0,0,0